<template>
	<vs-row>
  	<vs-col vs-type="flex" vs-xs="12" vs-sm="6" vs-w="3" class="px-2">
			<vs-card>
				<div slot="header">
					<h5 class="row align-items-center">
						<feather-icon icon="HomeIcon" class="mr-2" />
						Company
					</h5>
				</div>
				<div>
					<vs-list>
						<router-link :to="{ name: 'company-new' }">
							<vs-list-item title="Add new companies" subtitle="Add new company">
								<vs-button icon="chevron_right" type="flat" />
							</vs-list-item>
						</router-link>
						<router-link :to="{ name: 'company-list' }">
							<vs-list-item title="List companies" subtitle="List all companies and manage them">
								<vs-button icon="chevron_right" type="flat" />
							</vs-list-item>
						</router-link>
					</vs-list>
				</div>
			</vs-card>
  	</vs-col>
		<vs-col vs-type="flex" vs-xs="12" vs-sm="6" vs-w="3" class="px-2">
			<vs-card>
				<div slot="header">
					<h5 class="row align-items-center">
						<feather-icon icon="UserIcon" class="mr-2" />
						User
					</h5>
				</div>
				<div>
					<vs-list>
						<router-link :to="{ name: 'user-new' }">
							<vs-list-item title="Create new companies" subtitle="Create new user">
								<vs-button icon="chevron_right" type="flat" />
							</vs-list-item>
						</router-link>
						<router-link :to="{ name: 'user-list' }">
							<vs-list-item title="List users" subtitle="List all users and manage them">
								<vs-button icon="chevron_right" type="flat" />
							</vs-list-item>
						</router-link>
					</vs-list>
				</div>
			</vs-card>
  	</vs-col>
	</vs-row>
</template>
