<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
    <div class="vx-col sm:w-1/1 md:w-1/2 xl:w-1/4 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color w-100">
          <div class="vx-row no-gutter justify-center items-center">
            <div class="vx-col sm:w-full md:w-full lg:w-full d-theme-dark-bg">
              <div class="p-8 login-tabs-container">
                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">Reset password</h4>
                </div>
                <div v-if="!flag">
                  <vs-input
                    name="password"
                    icon-no-border
                    icon="icon icon-mail"
                    icon-pack="feather"
                    label-placeholder="Enter your email address"
                    class="w-full mt-6"
                    v-model="email"
                  />
                  <vs-button
                    class="xs:block mt-6 w-100"
                    @click="sendLink"
                    :disabled="lock"
                  >Send link</vs-button>
                </div>
                <div v-if="flag">
                  <p class="text-center">Link to reset password was sent.<br>Check your email inbox.</p>
                  <p class="text-center mt-4">
                    <router-link :to="{ name: 'page-login' }">Go back to login</router-link>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState({
      flag: state => state.auth.resetPasswordSend,
      lock: state => state.auth.resetPasswordLock,
      _email: state => state.auth.forgotPasswordEmail
    }),
    email: {
      get() { return this._email },
      set(i) { this.insertEmail(i) }
    }
  },
  methods: {
    ...mapMutations({ insertEmail: 'auth/insertEmail' }),
    ...mapActions({ sendLink: 'auth/sendPasswordResetLink' })
  }
}
</script>