<template>
  <div>
    <new-group-modal :value="true"/>

    <h5 class="my-4">Options</h5>
    <vx-card>
      <div class="vx-row">
        <vs-button
          color="danger"
          type="line"
          icon="delete_forever"
          class="font-xl ml-5"
          :disabled="!selected.length"
          @click="deleteSelectedGroups()"
        >Delete selected</vs-button>
        <vs-button
          color="success"
          type="line"
          icon="add_circle"
          class="font-xl ml-5"
          @click="clearForm(); editGroupModal({ key: 'modal', value: true })"
        >Add new</vs-button>
      </div>
    </vx-card>

    <vs-row vs-type="flex" vs-justify="space-between" class="my-8" vs-align="center" >
      <vs-col vs-w="6"><h3>Groups</h3></vs-col>
      <vs-col vs-w="6" class="text-right">
        <vs-input class="d-inline-block mt-0" v-model="search" label-placeholder="Search elements" />
      </vs-col>
    </vs-row>

    <table class="vs-table vs-table--tbody-table">
      <thead>
        <th style="width: 50px"><vs-checkbox v-model="checkbox" class="d-inline-block" /></th>
        <th style="width: 50px">#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <group-entry :index="index" :tr="tr" :key="index" v-for="(tr, index) in data" />
      </tbody>
    </table>   

  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'

import GroupEntry from '@/components/APP/group/GroupEntry.vue'
import NewGroupModal from '@/components/APP/group/NewGroupModal.vue'

export default {
  components: {
    GroupEntry,
    NewGroupModal
  },
  data () {
    return {
      timeout: null
    }
  },
  computed: {
    ...mapState({
      _search: state => state.group.search,
      data: state => state.group.groups,
      selected: state => state.group.selected,
    }),
    
    search: {
      get() { return this._search },
      set(i) {
        clearTimeout(this.timeout);
        if (i.length > 3 || i === '') {
          this.timeout = setTimeout(() => {
            this.loadGroups();
          }, 700);
        }

        this.__search(i)
      }
    },
    checkbox: {
      get() { return this.data.every(e => this.selected.indexOf(e.id) > -1) },
      set(i) { this.checkbox ? this.unselectAll() : this.selectAll() }
    }
  },
  mounted () {
    this.loadGroups();
    this.loadPermissions();
  },
  methods: {
    ...mapActions({
      loadGroups: 'group/loadGroups',
      loadPermissions: 'permission/loadPermissions',
      deleteSelectedGroups: 'group/deleteSelectedGroups'
    }),
    ...mapMutations({
      editGroupModal: 'group/editGroupModal',
      __search: 'group/search',
      selectAll: 'group/selectAll',
      unselectAll: 'group/unselectAll',
      clearForm: 'group/clearForm'
    })
  }
};
</script>

<style>
.not-data-table { display: none!important }
</style>


