<template>
	<vs-row>
  	<vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
			<vs-card>
				<div slot="header">Użytkownicy</div>
			</vs-card>
  	</vs-col>
		<vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
			Labore proident nisi adipisicing in dolor fugiat eu occaecat ut nisi ipsum eiusmod sint.
  	</vs-col>
	</vs-row>
</template>