<template>
  <div>
    <h3 class="my-4">Add new user</h3>
    <vx-card>
      <div>
        <vs-row vs-type="flex">
          <vs-col vs-w="6" class="pr-8">

            <vs-input v-model="firstName" label="First name" class="w-100 mb-2" />
            <vs-input v-model="lastName" label="Last name" class="w-100 mb-2" />
            <vs-input v-model="email" label="Email" class="w-100 mb-2" />
            <vs-input v-model="phone" label="Phone number" class="w-100" />

          </vs-col>
          <vs-col vs-w="6" class="pl-8">

            <v-select class="w-100 mb-2" :options="groups" v-model="group">
              <template #header> <label class="vs-input--label">Permission group</label> </template>
            </v-select>
            
            <v-select class="w-100 mb-2" :options="companies" v-model="company">
              <template #header> <label class="vs-input--label">Company</label> </template>
            </v-select>

            <v-select class="w-100 mb-6" :options="workPlaces" v-model="workPlace">
              <template #header> <label class="vs-input--label">Work place</label> </template>
            </v-select>

            <vs-checkbox v-model="status">Active</vs-checkbox>

          </vs-col>
        </vs-row>
      </div>
      <div class="mt-8">
        <vs-button
          color="success"
          icon="add_circle"
          @click="createUser"
        >Add user</vs-button>
      </div>
    </vx-card>

  </div>
</template>

<script>
import vSelect from 'vue-select'
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex'

export default {
  components: {
    vSelect
  },
  computed: {
    ...mapGetters({
      groups: 'group/getSelectGroups',
      companies: 'company/getSelectCompanies',
      _workPlaces: 'company/getSelectWorkPlaces'
    }),
    ...mapState({
      form: state => state.user.newUser,
    }),

    workPlaces () {
      const company = this.company ? this.getCompanyById()(this.company.value) : null;
      console.log(company);

      if (!company) return this._workPlaces;
      return company ?
        this._workPlaces.filter(w => company.workPositionsIds.indexOf(w.value) > -1)
        : this._workPlaces;
    },

    firstName: {
      get() { return this.form.firstName },
      set(value) { this.editForm({ key: 'firstName', value }) }
    },
    lastName: {
      get() { return this.form.lastName },
      set(value) { this.editForm({ key: 'lastName', value }) }
    },
    email: {
      get() { return this.form.email },
      set(value) { this.editForm({ key: 'email', value }) }
    },
    phone: {
      get() { return this.form.phone },
      set(value) { this.editForm({ key: 'phone', value }) }
    },
    status: {
      get() { return this.form.status },
      set(value) { this.editForm({ key: 'status', value }) }
    },
    group: {
      get() { return this.form.group },
      set(value) { this.editForm({ key: 'group', value }) }
    },
    company: {
      get() { return this.form.company },
      set(value) { this.editForm({ key: 'company', value }) }
    },
    workPlace: {
      get() { return this.form.workPlace },
      set(value) { this.editForm({ key: 'workPlace', value }) }
    }
  },
  mounted () {
    this.clearForm();
    this.loadUsers();
    this.loadGroups();
    this.loadCompanies();
    this.loadWorkPlaces();
  },
  methods: {
    ...mapMutations({
      editForm: 'user/editUserForm',
      clearForm: 'user/clearUserForm'
    }),
    ...mapGetters({
      companyWorkPlaces: 'company/getWorkPlaces',
      getCompanyById: 'company/getCompanyById'
    }),
    ...mapActions({
      loadUsers: 'user/loadUsers',
      createUser: 'user/createUser',

      loadGroups: 'group/loadGroups',

      loadCompanies: 'company/loadCompanies',
      loadWorkPlaces: 'company/loadWorkPlaces',
    }),
    
  }
}
</script>