<template lang="html">
  <div>
    <about-user />

    <h5 class="my-4">Filter</h5>
    <vx-card class="mb-6">
      <div class="vx-row">
        <div class="vx-col md:w-1/4 sm:w-1/2 w-full">
          <label class="text-sm opacity-75">User Group</label>
          <v-select class="mb-4 md:mb-0" v-model="filterGroup" :options="groups" />
        </div>
        <div class="vx-col md:w-1/4 sm:w-1/2 w-full">
          <label class="text-sm opacity-75">Company</label>
          <v-select class="mb-4 md:mb-0" v-model="filterCompany" :options="companies"/>
        </div>
        <div class="vx-col md:w-1/4 sm:w-1/2 w-full">
          <label class="text-sm opacity-75">Status</label>
          <v-select class="mb-4 sm:mb-0" v-model="filterStatus" :options="statuses" />
        </div>
      </div>
    </vx-card>

    <h5 class="my-4">Options</h5>
    <vx-card>
      <div class="vx-row">
        <vs-button
          color="danger"
          type="line"
          icon="delete_forever"
          class="font-xl ml-5"
          disabled
        >Delete selected</vs-button>
        <vs-button
          color="success"
          type="line"
          icon="add_circle"
          class="font-xl ml-5 mr-5"
          :to="{ name: 'user-new' }"
        >Add new</vs-button>
        <vs-button
          color="success"
          type="line"
          icon="check_circle"
          class="font-xl ml-5"
          disabled
        >Activate users</vs-button>
         <vs-button
          color="danger"
          type="line"
          icon="remove_circle"
          class="font-xl ml-5"
          disabled
        >Deactivate users</vs-button>
      </div>
    </vx-card>

    <vs-row vs-type="flex" vs-justify="space-between" class="my-8" vs-align="center" >
      <vs-col vs-w="6"><h3>Users</h3></vs-col>
      <vs-col vs-w="6" class="text-right">
        <vs-input class="d-inline-block mt-0" v-model="search" label-placeholder="Search elements" />
      </vs-col>
    </vs-row>

    <table class="vs-table vs-table--tbody-table">
      <thead>
        <th style="width: 50px"><vs-checkbox class="d-inline-block" /></th>
        <th style="width: 50px" class="text-center">#</th>
        <th>Name</th>
        <th>Company</th>
        <th>Groups</th>
        <th style="width: 75px">Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <user-entry :index="index" :tr="tr" :key="index" v-for="(tr, index) in data" />
      </tbody>
    </table>
  </div>
</template>

<script>
import vSelect from "vue-select";
import UserEntry from '@/components/APP/user/UserEntry.vue'
import AboutUser from '@/components/APP/user/AboutUser.vue'

import { mapActions, mapGetters, mapMutations, mapState } from 'vuex';

export default {
  components: {
    vSelect,
    UserEntry,
    AboutUser
  },
  data () {
    return {
      timeout: null
    }
  },
  computed: {
    ...mapState({
      data: state => state.user.users,
      filter: state => state.user.filter,
      _search: state => state.user.search
    }),
    ...mapGetters({
      statuses: 'user/getSelectStatus',
      groups: 'group/getSelectGroups',
      companies: 'company/getSelectCompanies'
    }),

    filterGroup: {
      get() { return this.filter.userGroup },
      set(value) {
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => { this.loadUsers(); }, 700);
        this.editFilter({ key: 'userGroup', value })
      }
    },
    filterCompany: {
      get() { return this.filter.company },
      set(value) {
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => { this.loadUsers(); }, 700);
        this.editFilter({ key: 'company', value })
      }
    },
    filterStatus: {
      get() { return this.filter.status },
      set(value) {
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => { this.loadUsers(); }, 700);
        this.editFilter({ key: 'status', value })
      }
    },
    search: {
      get() { return this._search },
      set(i) {
        clearTimeout(this.timeout);
        if (i.length > 3 || i === '') {
          this.timeout = setTimeout(() => {
            this.loadUsers();
          }, 700);
        }
        this.__search(i)
      }
    }
  },
  mounted () {
    this.loadUsers();
    this.loadGroups();
    this.loadCompanies();
  },
  methods: {
    ...mapMutations({
      __search: 'user/search',
      editFilter: 'user/editFilter'
    }),
    ...mapActions({
      loadUsers: 'user/loadUsers',
      loadGroups: 'group/loadGroups',
      loadCompanies: 'company/loadCompanies'
    })
  }
}
</script>



