<template>
  <tr class="tr-values vs-table--tr tr-table-state-null">
    <td><vs-checkbox v-model="checkbox" class="d-inline-block" /></td>
    <td>{{ index + 1 }}</td>
    <td>{{ tr.slug }}</td>
    <td v-html="tr.description || '<em>no data</em>'"></td>
    <td>
      <vs-button color="success" @click="editElement(tr.id)" size="large" type="flat" class="d-inline-block" icon="create"></vs-button>
      <vs-button color="danger" @click="deleteSelectedGroups(tr.id)"  size="large" type="flat" class="d-inline-block" icon="delete"></vs-button>
    </td>
  </tr>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  props: {
    index: Number,
    tr: Object
  },
  computed: {
    ...mapState({ _selected: state => state.group.selected }),
    checkbox: {
      get() { return this._selected.indexOf(this.tr.id) > -1 },
      set(i) { !this.checkbox ? this.selectGroup(this.tr.id) : this.unselectGroup(this.tr.id) }
    }
  },
  methods: {
    ...mapMutations({
      selectGroup: 'group/selectGroup',
      unselectGroup: 'group/unselectGroup'
    }),
    ...mapActions({
      deleteSelectedGroups: 'group/deleteSelectedGroups',
      editElement: 'group/editElement'
    })
  }
}
</script>
