<template>
  <vs-popup class="holamundo"  :title="title" :active.sync="modal">
    <div class="text-center">
      <vs-input class="d-inline-block mr-2" label-placeholder="Group name" v-model="name" />
      <vs-input class="d-inline-block ml-2" label-placeholder="Description" v-model="description" />
    </div>
    <vs-card class="mt-6">
      <div slot="header">
        <h6>Group permissions</h6>
      </div>
      <div>
        <vs-row vs-type="flex">
          <vs-col vs-w="7">
          </vs-col>
          <vs-col vs-w="1">
            <small>Create</small>
          </vs-col>
          <vs-col vs-w="1">
            <small>Read</small>
          </vs-col>
          <vs-col vs-w="1">
            <small>Delete</small>
          </vs-col>
          <vs-col vs-w="1">
            <small>Update</small>
          </vs-col>
          <vs-col vs-w="1">
            <small>Other</small>
          </vs-col>
        </vs-row>

        <permission v-for="permission in permissions" :permission="permission" :key="permission.id"/>
      </div>
    </vs-card>
    <div class="text-center mt-6">
      <vs-button @click="saveChanges">{{ buttonText }}</vs-button>
    </div>
  </vs-popup>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

import Permission from './Permission'

export default {
  components: {
    Permission
  },
  computed: {
    ...mapState({
      _modal: state => state.group.newGroup.modal,
      _name: state => state.group.newGroup.slug,
      _description: state => state.group.newGroup.description,
      permissions: state => state.permission.permissions,
      _permissions: state => state.group.newGroup.permissions,
      _edit: state => state.group.newGroup.id
    }),

    title () {
      return this._edit ?
        'Edit group'
        : 'Add new group';
    },
    buttonText () {
      return this._edit ?
        'Save changes'
        : 'Create new group';
    },

    modal: {
      get() { return this._modal },
      set(value) { this.editGroupModal({ key: 'modal', value }) }
    },
    name: {
      get() { return this._name },
      set(value) { this.editGroupModal({ key: 'slug', value })}
    },
    description: {
      get() { return this._description },
      set(value) { this.editGroupModal({ key: 'description', value }) }
    }
  },
  methods: {
    ...mapMutations({ editGroupModal: 'group/editGroupModal' }),
    ...mapActions({
      createGroup: 'group/createGroup',
      saveGroup: 'group/saveGroup'
    }),
    saveChanges () { return this._edit ? this.saveGroup() : this.createGroup() }
  }
}
</script>
