<template>
  <vs-row vs-type="flex" vs-justify="center" vs-align="center" class="mb-2 pb-2 border-bottom">
    <vs-col vs-w="7">
      <p>{{ permission.slug }}</p>
      <small class="text-grey">{{ permission.description }}</small>
    </vs-col>
    <vs-col vs-w="1">
      <vs-checkbox v-model="c"/>
    </vs-col>
    <vs-col vs-w="1">
      <vs-checkbox v-model="r"/>
    </vs-col>
    <vs-col vs-w="1">
      <vs-checkbox v-model="u"/>
    </vs-col>
    <vs-col vs-w="1">
      <vs-checkbox v-model="d"/>
    </vs-col>
    <vs-col vs-w="1">
      <vs-checkbox v-model="o"/>
    </vs-col>
  </vs-row>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  props: {
    permission: Object
  },
  computed: {
    ...mapState({ permissions: state => state.group.newGroup.permissions }),
    _permission () { return this.permissions[this.permission.slug] || null },
    _slug () { return this.permission.slug },

    c: {
      get() { return (this._permission || {}).c || false },
      set(flag) { this.modifyPermission({ key: this._slug, field: 'c', flag }) }
    },
    r: {
      get() { return (this._permission || {}).r || false },
      set(flag) { this.modifyPermission({ key: this._slug, field: 'r', flag }) }
    },
    u: {
      get() { return (this._permission || {}).u || false },
      set(flag) { this.modifyPermission({ key: this._slug, field: 'u', flag }) }
    },
    d: {
      get() { return (this._permission || {}).d || false },
      set(flag) { this.modifyPermission({ key: this._slug, field: 'd', flag }) }
    },
    o: {
      get() { return (this._permission || {}).o || false },
      set(flag) { this.modifyPermission({ key: this._slug, field: 'o', flag }) }
    },
  },
  created () {
    if (!this._permission || !this._permission.id)
      this.attachPermission({
        key: this.permission.slug,
        _id: this.permission.id, 
        c: false,
        r: false,
        u: false,
        d: false,
        o: false
      });
  },
  methods: {
    ...mapMutations({
      attachPermission: 'group/attachPermission',
      modifyPermission: 'group/modifyPermission'
    })
  }
}
</script>
