<template>
  <vs-popup class="holamundo" title="About user" :active.sync="model">
    <div v-if="user">
      <small class="text-grey">Name</small>
      <p class="mb-0">{{ user.lastName }}, {{ user.firstName }}</p>
    </div>
    <div class="border-bottom pb-4 mb-4" v-if="user">
      <small class="text-grey">Email</small>
      <p class="mb-0">
        <a :href="`mailto:${user.email}`">{{ user.email }}</a>
      </p>
    </div>
    <div>
      <p class="mb-0  text-center text-grey">Ability to see more data comming soon...</p>
    </div>
  </vs-popup>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapState({ 
      _aboutUser: state => state.user.aboutUser
    }),

    user () {
      return this.getUserById()(this._aboutUser);
    },

    model: {
      get() { return !!this._aboutUser; },
      set() { this.__aboutUser(0); }
    }
  },
  methods: {
    ...mapMutations({ __aboutUser: 'user/aboutUser' }),
    ...mapGetters({ getUserById: 'user/getUserById' })
  }
}
</script>