<template>
  <tr class="tr-values vs-table--tr tr-table-state-null">
    <td><vs-checkbox class="d-inline-block" /></td>
    <td class="text-center">{{ index + 1 }}</td>
    <td>
      <p class="mb-0">{{ tr.lastName }}, {{ tr.firstName }}</p>
      <small class="text-grey">{{ tr.email }}</small>
    </td>
    <td>
      <em v-if="!company">no data</em>
      <template v-else>
        <p class="mb-0">{{ company.name }}</p>
        <small class="text-grey">TAXID: {{ company.tax_number }}</small>
      </template>
    </td>
    <td>
      <em v-if="!groups.length">no data</em>
      <template v-else>
        <vs-chip
          v-for="group in groups"
          :key="group.id"
        >{{ group.slug }}</vs-chip>
      </template>
    </td>
    <td class="text-center">
      <vs-checkbox class="d-inline-block" :value="tr.status" @click.native="changeStatus" />
    </td>
    <td>
      <vs-button color="success" size="large" type="flat" class="d-inline-block" icon="create"></vs-button>
      <vs-button color="danger" size="large" type="flat" class="d-inline-block" icon="delete"></vs-button>
      <vs-button @click="aboutUser(tr.id)" color="warning" size="large" type="flat" class="d-inline-block" icon="visibility"></vs-button>
    </td>
  </tr>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  props: {
    index: Number,
    tr: Object
  },
  computed: {
    company () { return this.tr.company || null },
    groups () { return this.tr.groups || [] }
  },
  methods: {
    ...mapActions({ _changeStatus: 'user/changeStatus' }),
    ...mapMutations({ aboutUser: 'user/aboutUser' }),
    changeStatus (e) {
      this._changeStatus({ userId: this.tr.id, status: this.tr.status ? 0 : 1 });
    }
  }
}
</script>
