.w-100 { width: 100% }
.align-items-center { align-items: center; }
.bg-light { background-color: #0001; }
.d-inline-block { display: inline-block }
.d-flex { display: flex; }
.border-bottom { border-bottom: 1px solid #0001 }

.vs-table--tbody-table:nth-child(2n) {
  background-color: inherit!important
}

.row { display: flex; }