<template>
  <div class="vx-col sm:w-1/1 md:w-1/2 xl:w-1/4 sm:m-0 m-4">
    <vx-card>
      <div slot="no-body" class="full-page-bg-color w-100">
        <div class="vx-row no-gutter justify-center items-center">
          <div class="vx-col sm:w-full md:w-full lg:w-full d-theme-dark-bg">
            <div class="p-8 login-tabs-container">
              <div class="vx-card__title mb-4">
                <h4 class="mb-4" v-if="required">Required password change</h4>
                <h4 class="mb-4" v-else>Password reset</h4>
                <p>Please enter new password.</p>
              </div>
              <div>
                <vs-input
                  type="password"
                  name="password"
                  icon-no-border
                  icon="icon icon-lock"
                  icon-pack="feather"
                  label-placeholder="New password"
                  v-model="password"
                  class="w-full mt-6"
                />
                <vs-input
                  type="password"
                  name="password"
                  icon-no-border
                  icon="icon icon-lock"
                  icon-pack="feather"
                  label-placeholder="Repeat new password"
                  v-model="repeat"
                  class="w-full mt-6 mb-6"
                />
                <vs-button
                  class="xs:block mt-6 w-100"
                  :disabled="password != repeat || password == ''"
                  @click="changePassword"
                >Save password</vs-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState({
      required: state => state.auth.requirePasswordChange,
      form: state => state.auth.newPasswordForm
    }),
    password: {
      get () { return this.form.password },
      set (value) { this.editForm({ key: 'password', value }) }
    },
    repeat: {
      get () { return this.form.repeat },
      set (value) { this.editForm({ key: 'repeat', value }) }
    }
  },
  mounted () { this.checkToken(this.$route.params.token || ''); },
  methods: {
    ...mapMutations({ editForm: 'auth/editNewPasswordForm' }),
    ...mapActions({
      _changePassword: 'auth/changePassword',
      checkToken: 'auth/checkToken'
    }),
    changePassword () {
      if (this.$route.params.token) return this._changePassword({ route: 'page-login', token: this.$route.params.token});
      else return this._changePassword({ route: 'home' });
    }
  }
}
</script>
