<template>
  <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
    <vx-card>
      <div slot="no-body" class="full-page-bg-color">
        <div class="vx-row no-gutter justify-center items-center">
          <div class="vx-col hidden lg:block lg:w-1/2">
            <img src="@/assets/images/pages/login.png" alt="login" class="mx-auto">
          </div>
          <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
            <div class="p-8 login-tabs-container">
              <div class="vx-card__title mb-8">
                <h4>Login</h4>
                <p>Welcome, please login to your account.</p>
              </div>
              <div>
                <vs-input
                  name="email"
                  icon-no-border
                  icon="icon icon-user"
                  icon-pack="feather"
                  label-placeholder="Email"
                  v-model="email"
                  class="w-full"
                />
                <vs-input
                  type="password"
                  name="password"
                  icon-no-border
                  icon="icon icon-lock"
                  icon-pack="feather"
                  label-placeholder="Password"
                  v-model="password"
                  class="w-full mt-8"
                />
                <div class="flex flex-wrap justify-end my-5">
                  <router-link :to="{ name: 'auth-reset-password' }">Forgot Password?</router-link>
                </div>
                <vs-button class="xs:block w-100" @click="loginMethod($router)">Login</vs-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState({ login: state => state.auth.loginForm }),
    email: {
      get() { return this.login.email },
      set(value) { this.editLogin({ key: 'email', value }) }
    },
    password: {
      get() { return this.login.password },
      set(value) { this.editLogin({ key: 'password', value }) }
    },
    remember: {
      get() { return this.login.remember },
      set(value) { this.editLogin({ key: 'remember', value }) }
    }
  },
  methods: {
    ...mapMutations({ editLogin: 'auth/editLoginForm' }),
    ...mapActions({ loginMethod: 'auth/login' })
  }
}
</script>
